<footer class="site-footer">
  <div class="">
    <h3 class="footer-heading">Let's Connect</h3>
    <ul class="social-media-list">
      <li><a href="https://github.com/jacobarriola">Github</a></li>
      <li><a href="https://twitter.com/jacobarriola">Twitter</a></li>
    </ul>
  </div>
  <div class="">
    <h3 class="footer-heading">Built With</h3>
    <ul class='built-with-list'>
      <li><a href="http://metalsmith.io">Metalsmith</a></li>
      <li><a href="http://sass-lang.com">Sass</a></li>
      <li><a href="http://handlebarsjs.com">Handlebars</a></li>
    </ul>
  </div>
</footer>
</body>
</html>
