@function is-cool-color($color) {
	@return hue($color) < 300 and hue($color) > 120;
}

@function harmonious-mix($mix, $base) {
	@if (is-cool-color($mix)){
		@return mix($mix, $base, 9%);
	}
	@else {
		@return mix($mix, $base, 35%);
	}
}

$first-color: hsl(208, 100%, 50%);
$second-color: complement($first-color);
$complementary-color: harmonious-mix($first-color, $second-color);
$primary-color: harmonious-mix($second-color, $first-color);




.color-block {
  display: inline-block;
  width: 5em;
  height: 5em;
  border-radius: 2px;
}

.first-color {
  background: $first-color;
}

.second-color {
  background: $second-color;
}

.primary-color {
  background: $primary-color;
}

.secondary-color {
  background: $complementary-color;
}

$primary-font: 'Raleway', sans-serif;
$secondary-font: 'PT Sans', sans-serif;

@mixin container(){
	max-width: 40em;
	margin-left: auto;
	margin-right: auto;
}

@mixin reset-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

body {
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 1.4;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'PT Sans', sans-serif;
	letter-spacing: -1px;
	font-weight: 700;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: initial;
}

.container {
	@include container;
	margin-bottom: 6em;
}

/* HEADER */
.masthead {
	display: flex;
	margin-bottom: 3em;


	nav a {
		margin-right: 1em;
		font-family: $secondary-font;
		text-transform: uppercase;
	}
}

.header-notice {
	margin-left: auto;
	font-family: $primary-font;
	font-size: 80%;
}

/* FOOTER */
.site-footer {
	@include container;
	display: flex;
	justify-content: space-around;

	ul {
		@include reset-list;
	}
}


.home-loop {
	@include reset-list;

	li {
		margin-bottom: 3em;
	}
}
