<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>X Things I Learned at Sass Conf 2015 | Jacob Arriola</title>
    <script src="http://localhost:35729/livereload.js"></script>
    <link rel="stylesheet" href="/metalsmith/css/app.css" media="all" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Work</a></li>
        </ul>
      </nav>
      <section class="header-notice">/* Excuse the mess, I&apos;m actively rebuilding this site using <a href="http://metalsmith.io">metalsmith</a>*/</section>
    </header>
  <h1>X Things I Learned at Sass Conf 2015</h1>
  <time>Sun Nov 22 2015 16:00:00 GMT-0800 (PST)</time>
  
  <h2 id="1-sass-maps-get-maps-">1. Sass Maps (@get-maps)</h2>
<p>Before attending Sass Conf, I thought Sass maps and sourcemaps where the same thing. Lourdes and Mike gave excellent presentations on how to use the maps.</p>
<p>Basically, Sass maps give developers a way to structure data, similar to JSON with key/value pairings (Una has a excellent article on <a href="http://www.sitepoint.com/5-great-uses-sass-maps/">5 great uses for Sass maps</a> ).</p>
<h2 id="2-for-loops-for-">2. For Loops (@for)</h2>
<p>As a WordPress developer, I&apos;m super familiar with how loops work, so getting exposed to them in a Sass perspective was&apos;t too difficult for me. I attended Eva&apos;s Looping For Animation workshop. Turns out, animation is an awesome use-case for loops. She had us do a few excercises making animating SVG elements much DRYer.</p>
<h2 id="3-scss-linting">3. SCSS Linting</h2>
<p>Scss linting allows developers to create style rules for Sass. A style rule can be something like &quot;Don&apos;t indent more than 3 levels deep&quot;.</p>
<h2 id="4-using-vim">4. Using VIM</h2>
<p>Even though VIM isn&apos;t directly associated with Sass, as developers it&apos;s a tool we can use in our day-to-day. XXX</p>
<h2 id="5-how-to-contribute-to-open-source-projects">5. How to contribute to open source projects</h2>
<p>I sat with Una with her CSSgram project and she broke down how to contribute.</p>
<h2 id="6-contributing-to-the-sass-project-isn-t-that-difficult-to-do">6. Contributing to the Sass project isn&apos;t that difficult to do</h2>
<p>Not be a Ruby or C developer, I initially felt that there wasn&apos;t anything I could do to contribute to the community. However, I met Jina, who maintains the Sass website, I realized that I could contribute in other ways that match my skill set.</p>
<h2 id="7-pattern-libraries-are-a-thing">7. Pattern libraries are a thing</h2>

<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Jacob Arriola</h2>
    <p></p>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-2">
        <h3 class="footer-heading">Let&apos;s Connect</h3>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">

        <h3 class="footer-heading">Built With</h3>
        <nav>
          <ul class="contact-list">
            {% for b in site.data.built_with %}
            <li><a href="http://.com"></a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>

  </div>

</footer>
</body>
</html>
