<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Colors | Jacob Arriola</title>
    <script src="http://localhost:35729/livereload.js"></script>
    <link rel="stylesheet" href="/metalsmith/css/app.css" media="all" type="text/css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/work">Work</a></li>
        </ul>
      </nav>
      <section class="header-notice">/* Excuse the mess, I&apos;m actively rebuilding this site using <a href="http://metalsmith.io">metalsmith</a>*/</section>
    </header>
  <h1>Colors</h1>
  <section class="color-block first-color"></section>
  <section class="color-block second-color"></section>
  <section class="color-block primary-color"></section>
  <section class="color-block secondary-color"></section>
<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">Jacob Arriola</h2>
    <p></p>

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-2">
        <h3 class="footer-heading">Let&apos;s Connect</h3>
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">

        <h3 class="footer-heading">Built With</h3>
        <nav>
          <ul class="contact-list">
            {% for b in site.data.built_with %}
            <li><a href="http://.com"></a></li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>

  </div>

</footer>
</body>
</html>
