{{> header}}
  <h1>{{ title }}</h1>
  <section class="color-block first-color"></section>
  <section class="color-block second-color"></section>
  <section class="color-block primary-color"></section>
  <section class="color-block secondary-color"></section>
{{> footer}}
