{{> header}}

<article>
  <ul>
    {{#each collections.posts}}
        <li>
            <h3><a href="{{this.path}}">{{this.title}}</a></h3>
            <article>{{{this.excerpt}}}</article>
        </li>
    {{/each}}
  </ul>
</article>
{{> footer}}
