<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | Metalsmith Page</title>
  </head>
  <body>
    {{> header}}
    <section>
      {{{ contents }}}
    </section>
    {{> footer}}
  </body>
</html>
