{{> header}}

<div class="container">
  <ul class="home-loop">
    {{#each collections.posts}}
        <li>
            <h2><a href="{{this.path}}">{{this.title}}</a></h2>
            <article>{{{this.excerpt}}}</article>
        </li>
    {{/each}}
  </ul>
</div>
{{> footer}}
